@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Adicionar" class="btn btn-default">Adicionar</a>
    <a asp-action="Atualizar" class="btn btn-default">Atualizar</a>
</p>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Agendamentos</legend>
                <div class="form-group">
                    <label for="Data" class="col-lg-2 control-label">Mês/Ano</label>
                    <div class="col-lg-10">
                        <input type="month" name="data" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
